6TH SEMESTER/WT/Assign3/employees.dtd

<!ELEMENT employees (employee+)>

<!ELEMENT employee (name, department, designation, salary, hiredate, projects)>
<!ATTLIST employee id ID #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ELEMENT department (#PCDATA)>
<!ELEMENT designation (#PCDATA)>
<!ELEMENT salary (#PCDATA)>
<!ELEMENT hiredate (#PCDATA)>

<!ELEMENT projects (project+)>
<!ELEMENT project (#PCDATA)>
