6TH SEMESTER/WT/Assign3/employees.dtd

<!ELEMENT document (heading, employee+)>
<!ELEMENT heading (#PCDATA)>
<!ELEMENT employee (name, hiredate, projects)>
<!ELEMENT name (lastname, firstname)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT hiredate (#PCDATA)>
<!ELEMENT projects (project+)>
<!ELEMENT project (id, product, price)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT product (#PCDATA)>
<!ELEMENT price (#PCDATA)>
